iconfont()
	css {
		@font-face {
			font-family: 'wireframe-iconfont';
			src:url('wireframe-iconfont.eot?f7660s');
			src:url('wireframe-iconfont.eot?#iefixf7660s') format('embedded-opentype'),
				url('wireframe-iconfont.woff?f7660s') format('woff'),
				url('wireframe-iconfont.ttf?f7660s') format('truetype'),
				url('wireframe-iconfont.svg?f7660s#wireframe-iconfont') format('svg');
			font-weight: normal;
			font-style: normal;
		}
	}

	[class^="icon-"], [class*=" icon-"]
		font-family: 'wireframe-iconfont'
		speak: none
		font-style: normal
		font-weight: normal
		font-variant: normal
		text-transform: none
		line-height: 1
		
		/* Enable Ligatures ================ */
		-webkit-font-feature-settings: "liga"
		-moz-font-feature-settings: "liga=1"
		-moz-font-feature-settings: "liga"
		-ms-font-feature-settings: "liga" 1
		-o-font-feature-settings: "liga"
		font-feature-settings: "liga"

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		
	.icon-ds:before
		content: "\e616"
		
	.icon-menu:before
		content: "\e614"

	.icon-home:before
		content: "\e609"
	
	.icon-play:before
		content: "\e60a"
	
	.icon-arrow-down:before
		content: "\e615"

	.icon-arrow-left:before
		content: "\e60b"

	.icon-arrow-right:before
		content: "\e60c"
		
	.icon-chat-question:before
		content: "\e607"

	.icon-select-arrows:before
		content: "\e605"

	.icon-https:before
		content: "\e601"

	.icon-search:before
		content: "\e608"

	.icon-business:before
		content: "\e602"

	.icon-chat:before
		content: "\e604"

	.icon-email:before
		content: "\e603"

	.icon-people:before
		content: "\e600"

	.icon-person:before
		content: "\e606"
	
	.icon-user:before
		content: "\e070"
	
	.icon-edit:before
		content: "\e005"

	.icon-delete:before
		content: "\e0a7"
	
	.icon-close:before
		content: "\e60d"

	.icon-progress:before
		content: "\e611"
	
	.icon-star:before
		content: "\e613"
	
	.icon-file:before
		content: "\e022"
	
	.icon-doc:before
		content: "\e617"
	
	.icon-notebook:before
		content: "\e03f"
