large = 1024px // width of site
tablet = 768px
medium = 640px
small = 320px

buttonBg = #6B6B6B
buttonColor = #EFEFEF // 84f1ff 86E4F0
buttonHoverColor = #84f1ff
buttonHoverBg = #3F3F3F

buttonBgDark = #4E4E4E
buttonColorDark = #CCC
buttonHoverBgDark = #222
buttonHoverColorDark = #84f1ff