mixin panel(PARAM1, PARAM2)
	if (PARAM1)
		- const top = PARAM1;
		- const bottom = PARAM2 || null;
		panel-wrapper(class!=attributes.class, id!=attributes.id)
			if (bottom)
				panel-inner(space= top,bottom)
					block
			else
				panel-inner(space= top)
					block
	else 
		panel-wrapper(class!=attributes.class, id!=attributes.id)
			panel-inner
				block
