doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		//- responsive
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		//- main stylesheet
		link(rel="stylesheet", type="text/css", href="../css/main.css")
	body
		#siteWrapper
			#open
				header
					a.logo(href="") TheSite
				nav.desktop-nav.dark
					include app/nav
				block content