mixin panel(PARAM1, PARAM2)
	if (PARAM1)
		- const top = PARAM1;
		- const bottom = PARAM2 || null;
		panel-wrapper(class!=attributes.class, id!=attributes.id)
			if (bottom)
				panel-inner(space= top,bottom)
					block
			else
				panel-inner(space= top)
					block
	else 
		panel-wrapper(class!=attributes.class, id!=attributes.id)
			panel-inner
				block

mixin wrap(TOP, BOTTOM)
	- BOTTOM = (BOTTOM === undefined) ? BOTTOM = TOP : BOTTOM;
	- if (TOP === 'default') {
	- 	TOP = 25;
	- }
	- if (BOTTOM === 'default') {
	- 	BOTTOM = 25;
	- }
	- const marginString = "margin-top: "+ TOP +"px; margin-bottom: "+ BOTTOM +"px";
	.wrap(style= marginString,  class!=attributes.class, id!=attributes.id, title= BOTTOM)
		if block
			block

mixin clear-wrap(TOP = 0, BOTTOM = 0)
	- BOTTOM = (BOTTOM === null) ? BOTTOM = TOP : BOTTOM;
	if (TOP === 'default')
	- 	TOP = 25;
	if (BOTTOM === 'default')
	- 	BOTTOM = 25;
	- const marginString = "margin-top: "+ TOP +"px; margin-bottom: "+ BOTTOM +"px";
	.clear-wrap(style= marginString,  class!=attributes.class, id!=attributes.id)
		if block
			block

mixin prime()
	prime-seg(class!=attributes.class,id!=attributes.id)
		if block 
			block

mixin seg(PARAM1)
	if (PARAM1)
		x-segment(of= PARAM1,class!=attributes.class,id!=attributes.id)
			if block 
				block
	else
		x-segment(class!=attributes.class,id!=attributes.id)
			if block
				block

mixin segment(PARAM1)
	if (PARAM1)
		x-segment(of= PARAM1,class!=attributes.class,id!=attributes.id)
			if block 
				block
	else
		x-segment(class!=attributes.class,id!=attributes.id)
			if block
				block

mixin minor()
	x-minor(class!=attributes.class,id!=attributes.id)
		if block
			block

mixin major()
	x-major(class!=attributes.class,id!=attributes.id)
		if block
			block

mixin cell()
	x-cell(class!=attributes.class,id!=attributes.id)
		if block
			block